* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0,8s ease;
}

.heading {
    padding: 50px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', calibri 'Trebuchet MS', sans-serif;
    color:#5c0522e8
}
body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: rgba(235, 11, 11, 0.959);
}

body {
    background-image: linear-gradient( to bottom right, rgb(205, 221, 216),rgb(24, 20, 29));
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(18, 19, 18);
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: rgb(3, 168, 53);
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: rgb(114, 14, 28);
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(66, 112, 180);
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 20px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

  .calculator.dark {
    background-color: #701030;
  }

  .calculator.dark #display {
    color: #060111;
  }

  .calculator.dark button#clear {
    background-color: #1fa826;
    color: #0c0607;
  }

  .calculator.dark button.btn-number {
    background-color: #c9d1d4;
    color: #010405;
  }

  .calculator.dark button.btn-operator {
    background-color: hsl(140, 11%, 84%);
    color: #22242b;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #f0e4e8;
    color: #0e0b0a;
  }
